<div class="cvarea">
    <div class="headerarea">
        <div
            class="headergird">
            <!-- this needs to be smaller -->
            <div style="grid-area: Name;">
                <h2>Cody Torgerson
                </h2>
            </div>
            <div style="grid-area: nametext;">
                <p>Fullstack Engineer</p>
            </div>
            <div style="grid-area: Email;">
                 <h2>Email </h2>
            </div>
            <div style="grid-area: emailtext;">
                    <a href="mailto: Placeholder@leetmail.com">Placeholder@leetmail.com</a>
            </div>
            <div style="grid-area: Phone;">
                 <h2>Phone </h2>
            </div>
            <div style="grid-area: phonetext;">
                    <a href="tel: +8675309">+8675309</a>
            </div>
            <div style="grid-area: Adress;">
                 <h2>Adress </h2>
            </div>
            <div style="grid-area: adresstext;">
                     <p>Neu Job Straße 10 <br>Fleißig, DE </p>
            </div>
        </div>
    </div>
    <div class="intro">
        <div style="grid-area: Picture;">
            <img src="../assets/mypicture.png" style=" border-radius: 50%; height: 175px; width: 175px;">
        </div>
        <div style="grid-area: Text; margin-left: 20%; ">
            <p style=" margin-top: 8.75%; width: 170%; font-size: 20px;">
                I am a Fullstack Engineer who focuses on desiging and devleoping cloud based applications, which make the complextiy of data science user friendly.  My passion lies in translating defined and measurable user requirements into reality.
            </p>
        </div>
    </div>
    <div class="itskillsarea">
        <h2>Programming Skills</h2>
        <div class="skillsgrid">


            <div class="itgrid">
                <div #1>
                    Python</div>
                <div #2>
                    <span class="dot"></span>
                    <span class="dot"></span>
                    <span class="dot"></span>
                    <span class="dot"></span>
                </div>

                <div #3>SQL
                </div>
                <div #4>
                    <span class="dot"></span>
                    <span class="dot"></span>
                    <span class="dot"></span>
                    <span class="dot"></span>
                </div>
                <div #5>Docker
                </div>
                <div #6>
                    <span class="dot"></span>
                    <span class="dot"></span>
                </div>
                <div #21>TypeScript
                </div>
                <div #22>
                    <span class="dot"></span>
                    <span class="dot"></span>
                    <span class="dot"></span>
                </div>
                <div #23>HTML/CSS</div>
                <div #24>
                    <span class="dot"></span>
                    <span class="dot"></span>
                </div>
                <div #25>AWS
                </div>
                <div #26>
                    <span class="dot"></span>
                </div>
            </div>
        </div>
    </div>
    <div class="WorkExperinceArea">
        <h2 style=" grid-column-start: 1; grid-column-end: 3;">Work Experience</h2>
        <div #w1>
            <div #headeramg>
                <h3>Junior Projektleiter Engineering IT</h3>
                <h4>Mercedes-AMG GmbH</h4>
                <p>April 2019 - Present</p>
            </div>
            <div #w2></div>
            Meine Rolle bei AMG konzentriert sich auf die Fullstack Entwicklung der Data Science/Data Analytics Applications und Microservices mit:
            <br><br>• Python<br>• Typescript (Angular)<br>• SQL<br>• Docker<br>• Microservices
        </div>
        <img src="../assets/AMGLOGO.jpeg" style=" border-radius: 50%; ">

        <div #w2>
            <div #headerLSS>
                <h3>Lean Six Sigma Consultant</h3>
                <h4>Luthrean Social Services</h4>
                <p>May 2018 - August 2018</p>
            </div>
            <div></div>
            My consulting work for Lutheran Social Service focused on defining and quantifying internal business process within a department of the company. Using several Six Sigma, Lean Management, and Computer simulation tools a complete redesign of the department was developed. This redesign improved the KPI of the department, and mitigated failure risk.
            <br><br>• Python<br>• SQL
        </div>
        <img src="../assets/lss.png" style=" border-radius: 50%; align-content: center;">

        <div #w3>
                <div #headerumd>
                    <h3>Systems Engineer Factory Intelligence Labratory</h3>
                    <h4>University of Minnesota Duluth</h4>
                    <p>January 2018 - May 2018</p>
                </div>
                <div #w2></div>
                My position in the Factory Intelligence Laboratory focused on designing, programming, and integrating real time power usage sensors with an industrial 6 axis robot.  The power usage data was stored and analyzed leveraging tools from Amazon Web Services.  The data was used to create a 3D power visualization. The visualization illustrated power consumption in relation to robot movement.
                <br><br>• Python<br>• SQL<br>• C 
            </div>
            <img src="../assets/umd.png" style=" border-radius: 50%; align-content: center;">
            <div #w4 style="margin-top: 15%;" >
                <div #headerSF>
                    <h3>Industrial Designer</h3>
                    <h4>Silberform AG</h4>
                    <p>May 2017 - August 2017</p>
                </div>
                <div #w2></div>
                My internship enveloped me in the world of Class A modeling. A major focus of the internship was on designing automotive components using the software Autodesk Alias. All the work conducted within the internship was for the development of rapid automotive prototypes for various large German auto manufactures.
                <br><br>• Requirments Engineering  <br>• Rapid Prototyping <br>• CAD 
            </div>
            <img src="../assets/silberform.jpeg" style=" border-radius: 50%; align-content: center; margin-top: 75%;">
    </div>
  

    <div class="EducationArea">
        <h2 style=" grid-column-start: 1; grid-column-end: 3;">Education</h2>
        <div #E1>
            <div #headeramg>
                <h3>Maste of Science in International Managment</h3>
                <h4>Steinbeis School of International Business and Entrepreneurship (SIBE), 
                    <br>Stuttgart, DE</h4>
                <p>2019 - 2021 (Current)</p>
                
            </div>
            <div #w2></div>
            <b>Thesis Title:</b> Modernization of a Monolith: Microservices as the Next Generation
        </div>
        <img src="../assets/sibe.jpeg" style=" border-radius: 50%; ">

        <div #E2>
            <div #headeramg>
                <h3>Intensive German Language Course B1-C1</h3>
                <h4>DAS Akademie Language School, Berlin, DE</h4>
                <p>October 2018 - March 2019<p>
                
            </div>
            <div #w2></div>
        </div>
        <img src="../assets/language-school-berlin-germany.png.webp" style="height: 25px; width: 100px;">

        <div #E2>
            <div #headeramg>
                <h3>Bachelor of Science in Industrial Engineering</h3>
                <h4>University of Minnesota Duluth, Minnesota, USA</h4>
                <p>2013 - 2018<p>
                
            </div>
            <div #w2></div>
        </div>
        <img src="../assets/umd.png" style=" border-radius: 50%; ">

        <div #E2>
            <div #headeramg>
                <h3>Academic Exchange</h3>
                <h4>Luleå University of Technology, Luleå, Norrbotten, Sweden</h4>
                <p>2015 - 2016<p>
                
            </div>
            <div #w2></div>
        </div>
        <img src="../assets/ltu.png" style=" border-radius: 50%; ">

    </div>

    <div #languagearea>
        <h3>Langauges</h3>
        <div #E1>
            <div #headeramg>
                <div>
                <a style="font-size:large;"><b>English,</b> Native Speaker</a>
            </div>
                <a style="font-size:large;"><b>German,</b> B2-C1</a>
            </div>
        </div>

    </div>

</div>

