<div class="cvarea">
    <div class="headerarea">
        <div
            class="headergird">
            <!-- this needs to be smaller -->
            <div style="grid-area: Name;">
                <h4>Cody Torgerson
                </h4>
            </div>
            <div style="grid-area: nametext;">
                <h5>Fullstack Engineer</h5>
            </div>
            <div style="grid-area: Email;">
                <h4>Email</h4>
            </div>
            <div style="grid-area: emailtext;">
                <h5>
                    <a href="mailto: Placeholder@leetmail.com">Placeholder@leetmail.com</a>
                </h5>
            </div>
            <div style="grid-area: Phone;">
                <h4>Phone</h4>
            </div>
            <div style="grid-area: phonetext;">
                <h5>
                    <a href="tel: +8675309">+8675309</a>
                </h5>
            </div>
            <div style="grid-area: Adress;">
                <h4>Adress</h4>
            </div>
            <div style="grid-area: adresstext;">
                <h5>
                    <a>Neu Job Straße 10</a>
                    <a>Fleißig, DE</a>
                </h5>
            </div>
        </div>

    </div>
    <div class="intro">
        <div style="grid-area: Picture;">
            <img src="../assets/mypicture.png" style=" border-radius: 50%; height: 175px; width: 175px;">
        </div>
        <div style="grid-area: Text; margin-left: 20%; ">
            <p style=" margin-top: 15%; width: 170%; font-size: 20px;">
                Hi I am Cody.  I am a Fullstack Engineer who focuses on desiging and devleoping cloud based applications, which make the complextiy of data science user friendly.  My passion lies in translating defined and measurable user requirements into reality.
            </p>
        </div>
    </div>


    <div class="itskillsarea">
        <h3>Programming Skills</h3>
        <div class="skillsgrid">


            <div class="itgrid">
                <div #1>
                    Python</div>
                <div #2>
                    <span class="dot"></span>
                    <span class="dot"></span>
                    <span class="dot"></span>
                    <span class="dot"></span>
                    <span>4 years</span>
                </div>

                <div #3>SQL
                </div>
                <div #4>
                    <span class="dot"></span>
                    <span class="dot"></span>
                    <span class="dot"></span>
                    <span class="dot"></span>
                </div>
                <div #5>Docker
                </div>
                <div #6>
                    <span class="dot"></span>
                    <span class="dot"></span>
                </div>
                <div #21>TypeScript
                </div>
                <div #22>
                    <span class="dot"></span>
                    <span class="dot"></span>
                    <span class="dot"></span>
                </div>
                <div #23>HTML/CSS</div>
                <div #24>
                    <span class="dot"></span>
                    <span class="dot"></span>
                </div>
                <div #25>C
                </div>
                <div #26>
                    <span class="dot"></span>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <div class="WorkExperinceArea">
        <h3 style=" grid-column-start: 1; grid-column-end: 3;">Work Experince</h3>
        <div #w1 >
            <div #headeramg >
            <h3>Junior Projektleiter Engineering IT</h3>
            <h4>Mercedes-AMG GmbH</h4>
            <p>2019 - Present</p>
        </div>
        <div #w2>
        </div>
            Meine Rolle bei AMG konzentriert sich auf die Fullstack Entwicklung der Data Science/Data Analytics Applications und Microservices mit:<br><br>• Python<br>• Typescript (Angular)<br>• SQL<br>• Docker<br>• Microservices
        </div>
        <div >
            <img src="../assets/AMGLOGO.jpeg" style=" border-radius: 50%; ">
        </div>
    </div>

</div>
