Angular_CV/CV/src/assets/AMGLOGO.jpeg
Angular_CV/CV/src/assets/language-school-berlin-germany.png.webp
Angular_CV/CV/src/assets/ltu.png
Angular_CV/CV/src/assets/umd.png
Angular_CV/CV/src/assets/sibe.jpeg
Angular_CV/CV/secrets.env
