body {
    font-family: Helvetica, sans-serif;
  }

  .cvarea{


    width: 21cm;
    height: 29.7cm;
  }
  .headerarea{
    display: grid;
    height: 20%;
    grid-template-areas: "Name Email Phone Adress"
                          "nametext emailtext phonetext adresstext";
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 10% 10%;
    margin-left: 15px;
  }
  